:root {
  --background-color: rgb(55, 55, 55);
  --accent-color: rgb(75, 75, 75);
  --text-color: rgb(222, 222, 222);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body * {
  border-radius: 25px;
}

h1, h2, h3, h4 {
  text-align: center;
}

button {
  border-style: solid;
  border-color: var(--text-color);
  border-radius: 15px;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 15px
}

button:hover {
  cursor: pointer;
  box-shadow: 10px 5px 5px black;
}

button:hover {
  cursor: pointer;
}

.inventory-builder-menu {
  text-align: center;
}

.inventory-builder-menu p {
  margin: 0px;
}

.pokebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.pokebutton button {
  width: 100px;
}

#pokebuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pokebuttons-more {
  display: block;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

#pokebuttons img {
  border-style: solid;
  border-color: var(--accent-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#pokesearch {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

#pokesearch-input {
  background-color: var(--accent-color);
  border-style: solid;
  border-color: var(--accent-color);
  color: var(--text-color);
  width: 50%;
}

#pokesearch-button {
  padding: 5px;
}

#pokesearch-reset {
  padding: 5px;
  margin: 15px;
}

#total {
  color: red;
}